page-dashboard {
    ion-header,
    .toolbar-background-md {
        background: #fff;
    }
    .progress-title {
        text-transform: uppercase;
        color: #707070;
        font-size: 1.1rem;
        font-weight: 900;
        height: 100%;
        line-height: 18px;
        letter-spacing: 1.5px;
        padding: 10px 12px 0;
    }

    @media (max-width: 767px){
        .progress-title {
            padding: 5px 0 0;
            letter-spacing: 0.5px;
        } 
    }
}