<!--
  Generated template for the AudioPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <ion-title text-center> {{ page_info.title }} </ion-title>
        <a menuToggle end>
            <ion-icon name="im-menu"></ion-icon>
        </a>
    </ion-navbar>
</ion-header>


<ion-content text-center [style.backgroundImage]="'url('+bg_image+')'">
    <section class="w-1024 v-align-center" padding-top padding-bottom>
        <!-- <div col-lg-8 col-12 class="m-0-auto audios"> -->
        <div col-12 class="m-0-auto audios" padding>
            <div margin-top padding-bottom>
                <p class="gray-text">{{ page_detail.audio_text }}</p>
            </div>
            <vg-player (onPlayerReady)="onPlayerReady($event)">
                <vg-controls>
                    <vg-play-pause class="ion-md-im-brandbubble f-11em" (click)="onPlay(api.time)"></vg-play-pause>
                    <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
					<!-- <vg-scrub-bar-current-time></vg-scrub-bar-current-time> -->
					<vg-scrub-bar>
						<vg-scrub-bar-current-time></vg-scrub-bar-current-time>
					</vg-scrub-bar>
                    <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>

                    <div text-left class="read-script">
                        <span (click)="showAlert()">
							<ion-icon name="im-script"></ion-icon>
							<span>Read Script</span>
                        </span>
                        <vg-mute></vg-mute>
                    </div>
                </vg-controls>

                <audio #media [vgMedia]="media" id="myAudio" preload="auto">
					<source [src]="page_detail.url">
				</audio>
            </vg-player>


        </div>
        <div justify-content-center padding-top col-lg-8 col-12 class="m-0-auto">
            <div col-12 col-lg-7 col-md-7 col-sm-12 class="m-0-auto">
                <button ion-button col-12 full round type="button" [disabled]="!file_status" color="{{!file_status ? 'disabled' : 'primary'}}" (click)="nextPage()">{{ page_detail.button_text }}</button>
            </div>
        </div>
    </section>
</ion-content>
<ion-footer class="progress-wrapper">
    <div class="w-1024">
        <div col-md-12 col-sm-12 col-12 class="m-0-auto">
            <progress-bar [progress]="progress"></progress-bar>
        </div>
    </div>
</ion-footer>