<ion-content padding class="container password-contant">
	<section class="w-1024">
		<div col-12 text-center>
			<img width="60px" src="assets/images/logo.png" />
		</div>
		<div col-lg-6 col-12 class="m-0-auto p-t-65" *ngIf="!is_success">
			<h2 text-center padding-bottom class="f-26 primary-text">
				<strong>Please enter your new password.</strong>
			</h2>
			<form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()" autocomplete="off">
				<ion-row>
					<ion-label stacked>CHOOSE A PASSWORD</ion-label>
					<ion-item>
						<ion-input (keyup)="checkPassword($event.target.value)" formControlName="password" id="password" type="password" [class.invalid]="!resetPasswordForm.controls.password.valid && (resetPasswordForm.controls.password.dirty || submitAttempt)"></ion-input>
						<ion-icon name="checkmark" item-right color="green" *ngIf="resetPasswordForm.controls['password'].valid && is_password_valid.is_symbol"></ion-icon>
					</ion-item>

					<p class="error m-0-auto" col-12 ion-text color="danger" *ngIf="resetPasswordForm.controls['password'].hasError('required') && resetPasswordForm.controls['password'].touched">Password field is required.</p>
					<!-- <p class="error m-0-auto" col-12 ion-text color="danger" *ngIf="resetPasswordForm.controls['password'].hasError('pattern') && resetPasswordForm.controls['password'].touched">The password must be alphanumeric, 1 uppercase letter and 1 special character.</p> -->

					<div class="password-hint gray-text">
						<ul>
							<li>
								<ion-icon [color]="(is_password_valid.is_length) ? 'green' : 'danger'" [name]="(is_password_valid.is_length) ? 'checkmark' : 'close'"></ion-icon>
								<span>8 characters or more</span>
							</li>
							<li>
								<ion-icon [color]="(is_password_valid.is_space) ? 'green' : 'danger'" [name]="(is_password_valid.is_space) ? 'checkmark' : 'close'"></ion-icon>
								<span>No spaces</span>
							</li>
							<li>
								<ion-icon [color]="(is_password_valid.is_capital) ? 'green' : 'danger'" [name]="(is_password_valid.is_capital) ? 'checkmark' : 'close'"></ion-icon>
								<span>1 uppercase letter</span>
							</li>
							<li>
								<ion-icon [color]="(is_password_valid.is_small) ? 'green' : 'danger'" [name]="(is_password_valid.is_small) ? 'checkmark' : 'close'"></ion-icon>
								<span>1 lowercase letter</span>
							</li>
							<li>
								<ion-icon [color]="(is_password_valid.is_symbol) ? 'green' : 'danger'" [name]="(is_password_valid.is_symbol) ? 'checkmark' : 'close'"></ion-icon>
								<span>1 symbol ({{allowed_symbol}})</span>
							</li>
							<li>
								<ion-icon [color]="(is_password_valid.is_number) ? 'green' : 'danger'" [name]="(is_password_valid.is_number) ? 'checkmark' : 'close'"></ion-icon>
								<span>1 number</span>
							</li>
						</ul>
						<p class="p-b-20">For added security, easily guessed passwords (i.e. “password” or “football”), Keyboard patterns (i.e. “qwertyui of
							”abcdefgh”) and sequential patterns (i.e. “abcd1234” or “12345678”) have been blocked </p>
					</div>

					<ion-label stacked>CONFIRM PASSWORD</ion-label>
					<ion-item>
						<ion-input formControlName="confirm_password" id="confirm_password" type="password" [class.invalid]="!resetPasswordForm.controls.confirm_password.valid && (resetPasswordForm.controls.confirm_password.dirty || submitAttempt)"></ion-input>
						<ion-icon name="checkmark" item-right color="green" *ngIf="(!resetPasswordForm.hasError('mismatchedPasswords') && resetPasswordForm.controls.confirm_password.valid && is_password_valid.is_symbol)"></ion-icon>
					</ion-item>

					<p class="error m-0-auto" col-12 ion-text color="danger" *ngIf="resetPasswordForm.hasError('mismatchedPasswords') && resetPasswordForm.controls.confirm_password.valid">
						Please enter a valid confirm password.
					</p>
					<p class="error m-0-auto" col-12 ion-text color="danger" *ngIf="resetPasswordForm.controls['confirm_password'].hasError('required') && resetPasswordForm.controls['confirm_password'].touched">Confirm password field is required.</p>

				</ion-row>
				<div class="m-t-10">
					<div padding-top text-center>
						<button col-12 col-lg-8 col-md-6 ion-button round class="submit-btn" [disabled]="!(is_password_valid.is_length && is_password_valid.is_space && is_password_valid.is_capital && is_password_valid.is_small && is_password_valid.is_number && is_password_valid.is_symbol && (!resetPasswordForm.hasError('mismatchedPasswords') && resetPasswordForm.controls.confirm_password.valid))" color="primary">set new password</button>

					</div>
					<div col-12 text-center>
						<a href="javascript:void(0)" (click)="homePage()">Back to sign in</a>
					</div>
				</div>
			</form>
		</div>
		<div col-lg-6 col-12 class="m-0-auto p-t-65" *ngIf="is_success">
			<h2 text-center margin-bottom padding-bottom class="f-26 primary-text">
				<strong>Your password was successfully changed.</strong>
			</h2>
			<p text-center padding-bottm class="gray-text">You can now log in with your new password.</p>

			<div padding-top>
				<div padding-top text-center>
					<a col-12 col-lg-8 col-md-6 ion-button round color="primary" (click)="homePage()">login</a>
				</div>
			</div>
		</div>
	</section>
</ion-content>