<!--
  Generated template for the GeneralPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <ion-title text-center> {{ page_info.title }} </ion-title>
        <a menuToggle end class="menu-btn">
            <ion-icon name="im-menu"></ion-icon>
        </a>
    </ion-navbar>
</ion-header>

<ion-content text-center [style.backgroundImage]="'url('+bg_image+')'">
    <section class="w-1024 v-align-center">
        <div col-12 col-lg-6 class="m-0-auto" padding-top>
            <div text-center margin-bottom *ngIf="page_detail.url">
                <img width="85px;" src='{{ page_detail.url }}' alt="{{ page_detail.header }}" />
            </div>
            <section>
                <h1 class="gray-text f-32 l-height-35" padding-bottom>
                    <strong>{{ page_detail.header }}</strong>
                </h1>
                <p class="gray-text"> {{ page_detail.content }}</p>
            </section>
            <div justify-content-center padding-top>
                <div col-12 col-lg-9 col-md-9 col-sm-12 *ngIf="page_detail.pages_id != page_info.last_page_id" class="m-0-auto">
                    <button ion-button col-12 full round type="button" (click)="nextPage()">{{ page_detail.button_text }}</button>
                </div>

                <div col-12 col-lg-9 col-md-9 col-sm-12 *ngIf="page_detail.pages_id == page_info.last_page_id"  class="m-0-auto">
                    <button ion-button col-12 full round type="button" (click)="nextPage()">Practice</button>
                    <button ion-button col-12 full round type="button" (click)="communityPage()" >Community </button> 
                </div>
            </div>
        </div>
    </section>
</ion-content>
<ion-footer class="progress-wrapper">
    <div class="w-1024">
        <div col-md-12 col-sm-12 col-12 class="m-0-auto">
            <progress-bar [progress]="progress"></progress-bar>
        </div>
    </div>
</ion-footer>