<!-- Generated template for the ModalComponent component -->
<ion-content>
   
    <section class="modal-content" [ngStyle]="{'background': bgColor, 'height': height}" text-center>
        <ion-buttons end>
            <a href="javascript:void(0);" class="modal-close" (click)="dismiss()">
                <ion-icon ios="ios-close" md="md-close"></ion-icon>
            </a>
        </ion-buttons>
        <div class="main-model">
            <div>
                <h1>{{title}}</h1>
            </div>
            <h5>
                <div [innerHTML]="body" class="f-26"></div>
            </h5>
        </div>
    </section>
</ion-content>