modal {
    .modal-close {
        color: #ffffff;
        position: absolute;
        right: -50px;
        top: -70px;
        z-index: 99999;
        font-size: 36px;
    }
    .modal-content {
        color: #FFF;
        padding: 10rem;
    
        background: #DC78AE;
    }
    .modal-content h5 {
        line-height: 2.5rem;
    }
    .modal-content h1 {
        font-weight: 900;
        font-size: 4.2rem;
    }
    .scroll-content {
        padding: 0;
        
    }
    .main-model {
        width: 100%;
        height: auto;
        padding: 0 15px;
    }
    .f-26 {
        font-size: 26px !important;
        line-height: 35px !important;
        margin-top: 30px;
    }




/* Scrollbar Styling */
.main-model::-webkit-scrollbar {
    width: 8px;
}
 
.main-model::-webkit-scrollbar-track {
    background-color: #dc78ae;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.main-model::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #c5508f; 
}


    
     @media (max-width: 768px) {
        .modal-content h1 {
            font-size: 3rem;
            margin: 0;
           line-height: 40px;
        }
        .modal-content {
            padding: 15px 10px;
            height: 100%;
        }
        .modal-close {
            color: #ffffff;
            position: absolute;
            right: 2%;
            top: 0px;
            z-index: 99999;
            font-size: 36px;
        }
        .modal-close {
            font-size: 2.5rem;
        }
    }
    @media (max-width: 500px) {
        modal .modal-content {
            color: #FFF;
            padding: 10rem;
            height: auto;
        }
        
        .modal-content {
            padding: 15px 10px;
            height: auto !important;
        }
        
    }
    
}