page-acknowledgements {

}
.sub-heading {
    padding-right: 0;
    line-height: 35px;
    font-size: 26px;
    margin-bottom: 40px !important;
    text-align: left;
    margin-top: 5px !important;
    letter-spacing: 0;
}
.acknowledge-cont {
	font-size: 18px;
	line-height: 25px;
}
.grid {
    padding: 40px 10px;
}
.w-900 {
  max-width: 900px; 
  margin: 0 auto;
  width: 100%;
  display: block;
  padding: 0 15px;
}
.w-750 {
  max-width: 750px; 
  margin: 0 auto;
  width: 100%;
  display: block;
  padding: 0 15px;
}
.scroll-content {
    background: #f5f5f5;
}
.head {
    background: #dd77ac;
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
}
.head h1 {
    font-weight: bold;
    font-size: 52px;
    margin: 0;
}
.gray-text {
    margin-bottom: 20px;
    font-size: 18px;
}
@media (max-width: 540px) {
    .head h1 {
	    font-size: 32px;
	}
}
