<!--
  Generated template for the NumberedGeneralPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
	<ion-navbar>
		<ion-title text-center> {{ page_info.header }} </ion-title>
		<a menuToggle end>
			<ion-icon name="im-menu"></ion-icon>
		</a>
	</ion-navbar>
</ion-header>
<ion-content text-center [style.backgroundImage]="'url('+bg_image+')'">
	<section class="w-1024 v-align-center" padding-top padding-bottom>
			<div col-lg-8 col-12 class="m-0-auto">
				<div text-center padding>
					<ion-col col-4 col-sm-3 col-md-2>
						<ion-icon [style.color]="page_detail.question_color" name="im-brandbubble" class="question-no">
							<span>{{ page_detail.question_number }}</span>
						</ion-icon>
					</ion-col>
				</div>
				<ion-row>
					<ion-col col-12>
						<h3 class="gray-text f-26 l-height-35">
							<strong>{{ page_detail.content }}</strong>
						</h3>
					</ion-col>
				</ion-row>
				<div text-center col-12 col-lg-7 col-md-7 col-sm-8 class="m-0-auto">
					<button ion-button col-12 round color="primary" (click)="nextPage()">{{ page_detail.button_text }}</button>
				</div>
			</div>
	</section>
</ion-content>
<ion-footer class="progress-wrapper">
	<div class="w-1024">
		<div col-md-12 col-sm-12 col-12 class="m-0-auto">
			<progress-bar [progress]="progress"></progress-bar>
		</div>
	</div>
</ion-footer>
