<ion-header>
    <app-header [title]="title"></app-header>
</ion-header>
<ion-content [style.backgroundImage]="'url('+bg_image+')'">
    <section class="w-1024 p-0-mob m-t-10">
        <ion-list inset class="btn-list">
            <p class="text-light-gray mob-p-l-r" text-center padding-bottom>Here you can view some of the course content form your previous class. Select the class below you'd like to review.</p>
            <div *ngIf="!REVISIT_CLASS">
                <ion-item detail-push ion-item *ngFor="let review of reviewlist" (click)="review.status && reviewDeatil(review.id)" [class.active]="review.status==1">
                    <h2>{{ review.class_title }}</h2>
                    <ion-icon color="primary" name="ios-arrow-forward" item-right *ngIf="review.status==1"></ion-icon>
                    <ion-icon color="gray" name="ios-lock-outline" item-right *ngIf="review.status==0"></ion-icon>
                </ion-item>
            </div>
            <div *ngIf="REVISIT_CLASS">
                <ion-item detail-push ion-item *ngFor="let review of reviewlist" (click)="reviewDeatil(review.id)" [class.active]="review.status==1">
                    <h2>{{ review.class_title }}</h2>
                    <ion-icon color="primary" name="ios-arrow-forward" item-right></ion-icon>
                </ion-item>
            </div>
        </ion-list>
    </section>
</ion-content>