<ion-header>
	<ion-navbar>
		<!-- <ion-title text-center> {{(exercise_detail?.title) ? exercise_detail?.title : "Homework Detail"}} </ion-title> -->
		<ion-title text-center>INDEPENDENT PRACTICE</ion-title>
		<a menuToggle end float-right>
			<ion-icon name="im-menu"></ion-icon>
		</a>
	</ion-navbar>
</ion-header>
<ion-content>

	<div class="w-900"  *ngIf="!(classList?.length> 0)">
		<div>
			<h4 class="head-h4">No Details found</h4>
		</div>
	</div>

	<div class="w-900"  *ngFor="let exc of classList; let index=index">
		<section>
			<div class="w-900" col-12>
				<!-- <breadcrumb [data]="breadcrumb"></breadcrumb> -->
				<!-- <div>
					<p (click)="back()" class="back-btn"><img src='assets/images/arrow.svg' width="13px" style="vertical-align: inherit;" /> BACK TO HOMEWORK</p>
				</div> -->
				<div>
					<h4 class="head-h4">{{exc.title}}</h4>
				</div>
			</div>
			<ion-row class="w-900">

				<div col-12>
					<p class="gray-text" [innerHtml]='(exc?.intro_text) ? exc?.intro_text : "Below is the course content from Class that you can watch and listen to again ."'>
					</p>
				</div>
			</ion-row>
		</section>
		<div class="w-900" *ngIf="exc.exercises_detail?.length > 0 && exc.type=='exercises'">
			<section class="bg-odd-even" padding *ngFor="let homework of exc.exercises_detail; let index=index">
				<div class="video-div">
					<ion-row class="row">
						<div *ngIf="homework.files_id" col-lg-6 col-md-6 col-sm-12 col-12 class="audios video-cont">
							<vg-player (onPlayerReady)="onPlayerReady($event,index,homework)">
								<vg-controls>
									<vg-play-pause class="ion-md-im-brandbubble f-8em" (click)="onPlay({'time':players[index].api.time,'homework_exercises_has_files_id':homework.homework_exercises_has_files_id,'exercises_id':homework.id,'files_id':homework.files_id,'classes_id':exercise_detail?.classes_id})"></vg-play-pause>
									<vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
									<vg-scrub-bar [vgSlider]="true">
										<vg-scrub-bar-current-time [vgSlider]="true"></vg-scrub-bar-current-time>
									</vg-scrub-bar>
									<vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>

									<div text-left class="read-script">
										<span (click)="showAlert(homework.title,homework.script)">
											<ion-icon name="im-script"></ion-icon>&nbsp;
											<span>Read Script</span>
										</span>
										<vg-mute></vg-mute>
									</div>
								</vg-controls>
								<audio seekTime="3" #media [vgMedia]="media" preload="auto">
									<source [src]="homework.url">
								</audio>
							</vg-player>
						</div>
						<div *ngIf="!homework.files_id" text-center col-lg-6 col-md-6 col-sm-12 col-12 class="audios video-cont">
							<img class="exercise-image" src="assets/images/logo.png"/>
						</div>
						<div col-lg-6 col-md-6 col-sm-12 col-12 class="video-cont">
							<div class="video-content text-hide">
								<h1 class="gray-text"> 
									<strong>{{homework.title}}</strong>
								</h1>
								<p class="gray-text text-concat-hide">Tip : {{homework.tip}}</p>
								<div class="bottom">
									<div class="border"></div>
									<h5 class="watch" *ngIf="homework.files_id" (click)="onPlay({'time':players[index].api.time,'homework_exercises_has_files_id':homework.homework_exercises_has_files_id,'exercises_id':homework.id,'files_id':homework.files_id,'classes_id':exc.classes_id}, index)">Listen to the audio	<span class="audio-player"></span>
										 <!-- &nbsp; <img src="assets/images/player.png" width="20px">   -->
									</h5>
								</div>
							</div> 
						</div>
					</ion-row>
				</div>
			</section>
		</div>

		 <section *ngIf="(exc.type=='reading') && exc.exercises_detail?.length > 0">
			<ion-row class="w-1024 supportive-reading" *ngFor="let homework of exc.exercises_detail;">
				<div col-lg-8 col-md-8 col-sm-10 col-10 class="center">
					<h2>{{ homework.title}}</h2>
					<h6>Posted by {{ homework.author}}</h6>
					<section class="reading-content clearfix">{{getReadingDetail(homework?.reading_detail)}}</section>
				</div>
				<div col-lg-3 col-md-3 col-sm-12 col-12 text-right class="right">
					<button col-12 color="primary" ion-button round class="button btn-readmore" (click)="readingDetail(homework,'reading')">Read More</button>
				</div>
			</ion-row>
		</section> 

		<div class="w-900">
			<section class="bg-odd-even" *ngIf="(exc.type=='podcast') && exc.exercises_detail?.length > 0">
				<div class="video-div">
					<ion-row class="row" *ngFor="let homework of exc.exercises_detail; let index=index">
						<div *ngIf="homework.files_id" col-lg-6 col-md-6 col-sm-12 col-12 class="audios video-cont">
							<vg-player (onPlayerReady)="onPlayerReady($event,index,homework)" >
								<vg-controls>
									<vg-play-pause (click)="onPlay({'time':players[index].api.time,'homework_podcast_recordings_id':homework.podcast_id,'exercises_id':homework.id,'files_id':homework.files_id,'classes_id':exc.classes_id})" class="ion-md-im-brandbubble f-8em"></vg-play-pause>
									<vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
									<vg-scrub-bar [vgSlider]="true">
										<vg-scrub-bar-current-time [vgSlider]="true"></vg-scrub-bar-current-time>
									</vg-scrub-bar>
									<vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
									<div text-left class="read-script">
										<vg-mute></vg-mute>
									</div>
									<div text-left class="read-script">
										<span (click)="showAlert(homework.title,homework.script)">
											<ion-icon name="im-script"></ion-icon>
											<span>Read Script</span>
										</span>
										<vg-mute></vg-mute>
									</div>
								</vg-controls>

								<audio #media [vgMedia]="media" id="myAudio" preload="auto">
									<source [src]="homework?.url">
								</audio>
							</vg-player>
						</div>
						<div *ngIf="!homework.files_id" col-lg-5 col-sm-12 col-12 class="audios video-cont">
							<img class="exercise-image" src="assets/images/video_player.png"/>
						</div>
						<div col-lg-6 col-md-6 col-sm-12 col-12 class="video-cont">
							<div class="video-content text-hide">
								<h1 class="gray-text text-concat-hide">
									<strong>{{homework.title}}</strong>
								</h1>
								<p><em class="gray-text">Posted by</em> <strong>{{ homework.author}}</strong></p>
								<div class="bottom">
									<div class="border"></div>
									<h5 class="watch" *ngIf="homework.files_id" (click)="onPlay({'time':players[index].api.time,'homework_podcast_recordings_id':homework.podcast_id,'exercises_id':homework.id,'files_id':homework.files_id,'classes_id':exc.classes_id}, index)">Listen to the audio	<span class="audio-player"></span>
										 <!-- &nbsp; <img src="assets/images/player.png" width="20px">   -->
									</h5>
								</div>
							</div>
						</div>
					</ion-row>
				</div>
			</section>
		</div>
	</div>
	
</ion-content>
