page-review-detail {
    vg-player {
        height: auto !important;
    }

    vg-player video {
        height: 229px !important;
        border: 1px solid #dedede;
    }

    .audios vg-player {
        height: 229px !important;
        border: 1px solid #f1f1f1;
    }

    // .audios vg-player {
    //     min-height: 300px !important;
    // }
    // .audios vg-play-pause {
    //     top: 60px !important;
    // }
    .audios vg-play-pause {
        top: 40px !important;
    }

    // .videos vg-play-pause {
    //     top: 30px !important;
    // }
    .videos vg-play-pause {
        top: 30px;
    }

    .videos .native-fullscreen vg-play-pause {
        top: 40%;
    }

    .videos .native-fullscreen video {
        height: 100% !important;
        width: 100% !important;
    }

    .icon.vg-icon-pause,
    .icon.vg-icon-play_arrow {
        font-size: 6rem !important;
    }

    vg-play-pause.ion-md-im-brandbubble.f-11em {
        font-size: 5.5em;
    }

    .icon.vg-icon-pause,
    .icon.vg-icon-play_arrow {
        top: 10px !important;
    }

    .toolbar-title-ios,
    .toolbar-title-md {
        margin-top: 0;
    }

    .text-hide {
        position: relative;
        color: black;
        width: 100%;
    }

    .text-concat-hide {
        position: relative;
        display: block;
        word-wrap: break-word;
        overflow: hidden;
        max-height: 2.4em;
        line-height: 1.2em;
    }

    p.text-concat-hide {
        position: relative;
        display: inline-block;
        word-wrap: break-word;
        overflow: hidden;
        max-height: 5em;
        line-height: 1.6em;
    }

    .video-content h1,
    .video-content p {
        padding-left: 30px !important;
        padding-bottom: 0 !important;
        margin-top: 4px;
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .row-cont {
        display: table;
        table-layout: fixed;

        .video-cont {
            display: table-cell;
            float: none;
            height: 100%;
            vertical-align: middle;
        }
    }

    vg-overlay-play {
        position: relative;
        left: 45%;
    }

    .pause-icon {
        bottom: 0;
        top: 0 !important;
        left: calc(100% - 90px);
        right: auto;
        z-index: 301;
    }

    vg-time-display[vgProperty="total"] {
        right: 5px !important;
    }

    .pause-icon .vg-icon-pause {
        top: 9px !important;
        font-size: 3rem !important;
        color: #604a70 !important;
    }

    vg-controls vg-scrub-bar {
        background: #dedede;
        top: auto !important;
        bottom: 70px !important;
        height: 12px;
        border-radius: 5px;
    }

    vg-controls vg-scrub-bar .background {
        border: 5px solid #eda2cd !important; //color($colors, primary);
        background: #eda2cd;
        position: relative;
        border-radius: 5px;
    }

    vg-controls vg-scrub-bar .background:after {
        content: "";
        position: absolute;
        border-radius: 100%;
        border: 12px solid #FFF;
        top: -12px;
        right: -12px;
        z-index: 2;
    }

    vg-controls vg-scrub-bar {
        position: absolute;
        width: calc(100% - 130px);
        left: 65px;
    }

    .audios vg-scrub-bar-current-time,
    .videos vg-scrub-bar-current-time {
        bottom: 0 !important;
        left: 0 !important;
        width: 100% !important;
    }

    .back-btn {
        font-size: 11px;
        padding: 15px 0;
        border-bottom: 1px solid #ccc;
        margin-left: 12px;
        margin-bottom: 20px;
    }
    .back-btn img {
        margin-right: 10px;
        margin-top: 0px;
        vertical-align: bottom;
        width: 18px;
        height: 12px; 
    }

    @media (max-width:767px) {
        .row-cont .video-cont {
            display: block;
            float: left;
            height: 100%;
            text-align: center;
        }

        .video-content h1,
        .video-content p {
            padding-left: 0;
        }

        .video-content h1 {
            padding-top: 15px;
        }

        .text-concat-hide {
            max-height: 2.8em;
        }
    }

    @media (min-width:768px) and (max-width:991px) {
        vg-play-pause.ion-md-im-brandbubble.f-11em {
            font-size: 6em !important;
        }

        .audios vg-play-pause {
            top: 30px !important;
        }

        .videos vg-play-pause {
            top: 24px !important;
        }

        .icon.vg-icon-pause,
        .icon.vg-icon-play_arrow {
            top: 13px !important;
            font-size: 6rem !important;
        }
    }

}