<!--
  Generated template for the ClassPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
    <app-header [title]="title"></app-header>
</ion-header>

<ion-content [style.backgroundImage]="'url('+bg_image+')'">
    <section margin-top class="w-1024" [hidden]="!REVISIT_CLASS">
        <ion-list inset class="btn-list">
            <p class="text-light-gray mob-p-l-r" text-center>Here you can start the class. Select the class below you'd like to start.</p>
            <ion-item detail-push ion-item *ngFor="let class of classlist" (click)="startClassFromList(class.id)">
                <h2><strong>{{ class.title }}</strong></h2>
                <ion-icon name="ios-arrow-forward" item-right class="icon-gray"></ion-icon>
                <!-- <ion-icon color="primary" name="ios-arrow-forward" item-right *ngIf="class.class_status==1"></ion-icon>
                <ion-icon color="gray" name="ios-lock-outline" item-right *ngIf="class.class_status==0"></ion-icon> -->
            </ion-item>
        </ion-list>
    </section>
</ion-content>