
.w-1170 {
	max-width: 1170px;
    margin: 0 auto;
    padding: 100px 0;
    overflow: hidden;
}
.mr-top {
	margin-top: 50px;
}
.playing {
	padding: 0 !important;
	margin: -13px !important;
}
.scroll-content {
    background: transparent;
}
.stop-btn {
	font-size: 14px;
    padding: 0;
    height: 50px;
}
.pink-active {
	color: #fff;
	background: #EA90C8;
}
.white-audio {
	background: #fff;
	border-radius: 3px;
}
.white-audio p { 
	background: #fff;
	padding: 12px 15px;
	margin: 0;
	font-size: 15px;
	color: #8c8c8c;
}
.white-audio .audio {
	background: #f4f4f4;
	padding: 0px 15px; 
	border-radius: 3px;
}
.right-devide .scroll .scroll-devide {
	max-height: 460px;
}
.scroll {
	width: 100%;
}

.c-blue-text {
	color: #604a70;
	cursor: pointer;
}

.right-devide h3, h3 {
	font-size: 18px;
	color: #707070;
	text-transform: capitalize;
}
page-meditation-timer .meditation-time > div {
	margin-top: 25px;
}
page-meditation-timer .meditation-time > div > p {
	font-size: 115px !important;
	margin: 0 0 -18px !important;
    line-height: 100px !important; 
}
vg-player { 
	background-color: transparent !important;
}
page-meditation-timer vg-time-display {
    color: #604a70 !important;
    font-weight: bold;
    font-size: 16px; 
}
page-meditation-timer vg-controls vg-scrub-bar-current-time {
    background: #ddd;
    height: 15px !important; 
    border-radius: 10px !important;
    top: calc(40% - 3px) !important;
}
vg-scrub-bar-current-time .slider {
    height: 22px !important;
    width: 22px !important;
    margin-top: -3px !important; 
}

.mt-20 {
	margin-top: 20px;
}
page-meditation-timer .prepare-time {
	font-size: 32px !important;
	margin: 15px 0 0 0 !important;
    line-height: 32px;
}
.prepare { 
	font-size: 12px;
}
.mt--50 {
	margin-top: -48px;
}
.mb-20 {
	margin-bottom: 20px;
}

.main {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	height: 375px;
}
.main .left-devide {
	width: 44%;
	height: 235px;
}
.pd-0 {
	padding: 0;
}
.main .right-devide {
	
	width: 51%;
	margin-left: 5%;
} 
.add-br {
	border: 2px solid #fff;
}
.w-988 {
	max-width: 988px;
    margin: 60px auto; 
    overflow: hidden;
    width: 100%;
}
.right-devide .scroll .scroll-devide {
    max-height: 330px;
    overflow-y: scroll;
}
.btn-148 {
	width: 130px;
	height: 40px;
	padding: 0;
	margin: 0;
	margin-top: 20px;
}
.center-text {
	text-align: center;
}
.mr-l {
	display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 10px;
}
.pd-l {
	padding-left: 20px;
}
.mr-t-10 {
	margin-top: 10px;
}

.ion-ios-arrow-down {
	display: block;
	margin-top: -15px;
}
.D-block {
	display: block;
}
.pd-0 {
	padding: 0;
}
.meditation-time {
	height: 200px; 
	padding-top: 20px;
}
.meditate {
	width: 275px;
	font-size: 14px; 
	padding: 0;
	height: 50px;
}
page-meditation-timer .meditation-time p.seperator {
  margin-top: -5px !important;
}
.mt-30 {
	margin-top: 30px;
}
.down-img {
	margin: 0 0 60px 0;
}
page-meditation-timer .meditation-time ion-icon, .ion-ios-arrow-down {
	font-size: 26px !important;
}
page-meditation-timer .meditation-time > div > p {
  font-size: 114px !important;
  margin: 15px 0 0 0 !important;
  line-height: 105px !important; 
}
page-meditation-timer {
	ion-content{
		background-image: url("../assets/images/bg-meditation-dt.jpg") !important;
	}
	.meditation-time{
		font-size: 247px;
		font-weight: 700;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.meditation-time .arrows{
		position: absolute;
	}
	.meditation-time .arrows.arrow-min-up{
		left:20px;
		top: 0;
	}

	.meditation-time-heading {
		font-size: 18px;
		color: #707070;
		text-transform: capitalize;
		display: inline-block;
		margin-bottom: 15px;
	}
	.meditation-time .arrows.arrow-min-down{
		left:40px;
		bottom: 0;
	}
	.meditation-time .arrows.arrow-sec-up{
		right:40px;
		top: 0;
	}
	.meditation-time .arrows.arrow-sec-down{
		right:20px;
		bottom: 0;
	}
	.meditation-time > div {
		line-height: 0;
	}
	.meditation-time > div > p{
		margin: 0 0 -48px;
		font-size: 247px;
		font-weight: bold;
		vertical-align: middle;
		line-height: 247px;
	}
	#mtIntervalTime{
		font-size: 20px;
	}
	.meditation-time p.seperator {
		margin-top:-68px;
	}

	.meditation-time ion-icon{
		font-size:80px;
		font-weight: bold;
		cursor: pointer;
	}
	.prepare-time{
		font-size: 60px;
	 	font-weight: bold;
	 	margin:  20px 0;
	 }
	.btn-white{
		background-color: #fff;
		color: #604a70;
	}
	.mt-40{
		margin-top: 40px;
	}

	vg-player {
        height: 100% !important;
	}
	
	vg-controls {
		background-color : transparent !important;
	}
	vg-controls vg-scrub-bar-current-time {
		background: #ddd;
	}
    .audios-practice vg-player {
		min-height: 50px !important;
	}
	vg-play-pause .icon {
		font-size: 4rem !important;
		color: #bcbcbc;
	}
    .audios-practice vg-play-pause {
        top: 78px !important;
	}
	vg-time-display {
		color: #7b7b7b;
    	font-weight: bold;
	}
	vg-scrub-bar-current-time {
		height: 7px;
	}
    .f-8em {
        font-size: 0em;
    }
    .audios-practice .icon.vg-icon-play_arrow, .audios-practice .icon.vg-icon-pause {
        font-size: 6rem;
        top: 8px;
	}

	.overflow-devide {
		overflow-y: scroll;
		height: 328px;
		background: #ffffff;
	}

	.overflow-devide::-webkit-scrollbar {
		width: 12px;
	}
	 
	.overflow-devide::-webkit-scrollbar-track {
		border-radius: 10px;
		background: #ffffff;
		
	}
	
	.overflow-devide::-webkit-scrollbar-thumb {
		border-radius: 10px;
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
		background: #604a70;
	}

	//lg-scroll
	.lg-scroll-devide {
		overflow-y: scroll;
		height: 330px;
	}
	.lg-scroll-devide::-webkit-scrollbar {
		width: 12px;
	}
	 
	.lg-scroll-devide::-webkit-scrollbar-track {
		border-radius: 10px;
		background: #604a70;
		
	}

	.label {
		padding-bottom: 0; 
	    padding-top: 0; 
	  
	}
	
	.lg-scroll-devide::-webkit-scrollbar-thumb {
		border-radius: 10px;
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
		background: #604a70;
	}

	.item-md h3, .item-md h4, .item-md h5, .item-md h6 {
		line-height: 20px;
	}

	.item-md ion-icon[item-right], .item-md ion-icon[item-start], .item-md ion-icon[item-end] {
		margin-left: 0;
		margin-top: 4px;
		margin-bottom: 0px;
	}

	.label-md {
		margin: 15px 8px 14px 0;
	}

	.accordian-text{
		cursor: pointer;
	}
	.item-md{
		cursor: pointer;
	}
	
	@media (min-width: 992px){
		.accordian-plus-minus {
			top: 5px;
		}
	}

	@media (max-width: 991px){
		.accordian-plus-minus {
			top: 10px;
		}
	}
 
	@media (max-width: 767px){
		.main .left-devide {
			width: 100%;
			height: auto;
			margin-top: 50px;
		}
		.main .right-devide {
			width: 100%;
			margin-left: 0;
			margin-top: 30px;
			margin-bottom: 20px;
			overflow: hidden;
		}
		.meditation-time > div > p {
			line-height: 0;
			margin: 70px 0 35px;
			font-size: 120px;
			font-weight: bold;
		}
		.meditation-time p.seperator {
			margin-top: 40px;
		}
		.devide {
			width: 100%;
		}
		.scroll-content {
			padding: 0 15px;
		}
		.right-devide h3, h3 {
			margin-top: 50px !important;
			font-size: 24px;
			color: #fff;
		}
		ion-content.content {
		    background-position: 0 0;
		}
		.main {
			height: auto;
		}
		.w-988 {
			margin: 0 auto;
		}
		.accordian-plus-minus {
			top: 12px;
		}
	}

	@media screen and (max-width: 600px) and (min-width: 400px) {
		#mtSettings .mr-l   {
			width: 100%;
			overflow: hidden;      
		}
		#mtSettings .mr-l div   {
			width: 100%;
			overflow: hidden;      
		}
		#mtSettings .mr-l div button { 
			width: 97%;   
		}
	}

	@media (max-width: 540px){
		.devide {
			width: 100%;
		}
		.mr-2 {
			margin-right: 0;
		}
		.w-1170 {
			padding: 0 10px;
		}
		.scroll {
			width: 100%;
		}
		.accordian-plus-minus {
			top: 10px;
		}
	}

	@media (max-width: 500px){
		.prepare-time{
			font-size: 40px;
		 }
	}

	@media (max-width: 425px){
		[class*="ion-md-im-brandbubble"].f-8em, {
			font-size: 0em;
		}
		.btn-148, .mr-l {
			width: 100%; 
			display: block;
			margin: 0;
		}
		.main .left-devide {
			height: auto;
			
		}
		.pd-l {
			padding: 0;
		}
		.item-md h2 {
			font-size: 1.4rem;
		}

	}

	@media screen and (max-width: 570px) and (min-width: 400px) {
		#mtSettings .mr-l   {
				width: 100%;
				overflow: hidden;      
		  }
		#mtSettings .mr-l div   {
				width: 100%;
				overflow: hidden;      
		  }
	}	

}

