<!--
  Generated template for the MeditationTimerPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
	<app-header [title]="title"></app-header>
</ion-header>
 
<ion-content>
	<section class="w-988">
		<div class="main">
			<ion-row class="devide left-devide mr-2">
				<span class="meditation-time-heading">Independent Practice Exercises</span>
				<div class="scroll">					
					<div class="scroll-devide" [ngClass]="homeworkList > 4 ? 'lg-scroll-devide' : 'overflow-devide'">
						<div class="div-opacity" *ngIf="!REVISIT_CLASS">
							<div *ngFor="let homework of homeworkList; let i=index" text-wrap (click)="homework.status" [class.open]="homework.classes_id == classId || isGroupShown(i)" [class.active]="homework.status" class="list">
								<ion-item *ngIf="i!=0 && homework.list.length" (click)=" homework.status==1 && homeworkDetail(homework.classes_id)" >
									<h2>
										<strong class="c-blue-text">{{homework.class_title}}</strong>
									</h2>
									
								<span class="accordian-plus-minus" *ngIf="homework.status==1 && i!=0">
									<ion-icon padding-right item-right color="primary" [name]="isGroupShown(i) ? '' : 'ios-arrow-forward'" (click)="homeworkDetail(homework.classes_id)"></ion-icon>
								</span>

								<ion-icon padding-right color="gray" name="ios-lock-outline" item-right *ngIf="homework.status==0 && i!=0"></ion-icon>

								<!-- <div *ngIf="isGroupShown(i) && i!=0" class="accordian-oppen-bg">
									<ion-list inset>
										<ion-item style="padding:0" detail-push ion-item *ngFor="let exercise of homework.list" (click)="homeworkDetail(exercise)">
											<div class="accordian-text">
												<h3>
													<strong>{{ exercise.title }}</strong>
												</h3>
											</div>
											<ion-icon padding-right color="primary" name="ios-arrow-forward" item-right></ion-icon>
										</ion-item>
									</ion-list>
								</div> -->
								</ion-item>
							</div>
						</div>
						<div class="div-opacity" *ngIf="REVISIT_CLASS">
							<div *ngFor="let homework of homeworkList; let i=index" text-wrap  [class.open]="isGroupShown(i) || checkClass(i,homework)" [class.active]="homework.status" class="list">
								<ion-item *ngIf="i!=0 && homework.list.length" (click)="homeworkDetail(homework.classes_id)" >
									<h2>
										<strong class="c-blue-text">{{homework.class_title}}</strong>
									</h2>
									<span class="accordian-plus-minus" >										
										<ion-icon padding-right item-right color="primary" [name]="isGroupShown(i) ? '' : 'ios-arrow-forward'" ></ion-icon>
									</span>
							</ion-item>
							</div>
						</div>

						<!-- <div class="div-opacity" *ngIf="REVISIT_CLASS">
							<div *ngFor="let homework of homeworkList; let i=index" text-wrap (click)="toggleGroup(i)" [class.open]="isGroupShown(i) || checkClass(i,homework)" [class.active]="homework.status" class="list">
								<ion-item *ngIf="i!=0">
									<h2>
										<strong class="c-blue-text">{{homework.class_title}}</strong>
									</h2>
									<span class="accordian-plus-minus" >
										<ion-icon padding-right item-right color="primary" [name]="isGroupShown(i) ? 'ios-arrow-down' : 'ios-arrow-forward'" ></ion-icon>
									</span>
									<div *ngIf="isGroupShown(i)" class="accordian-oppen-bg">
									<ion-list inset >
										<ion-item style="padding:0" detail-push ion-item *ngFor="let exercise of homework.list" (click)="homeworkDetail(exercise)" >
											<div class="accordian-text">
												<h3>
													<strong class="strong">{{ exercise.title }}</strong>
												</h3>
											</div>
											<ion-icon class="accordian-text" padding-right color="primary" name="ios-arrow-forward" item-right></ion-icon>
										</ion-item>
									</ion-list>
								</div>
							</ion-item>
						</div>
						</div> -->

					</div>				
				</div>
			</ion-row>
			
			<ion-col class="devide right-devide">
				<span class="meditation-time-heading">Meditation Timer</span>
			<ion-row class="add-br">
				<ion-col text-center col-lg-4 col-sm-4 col-12>
					<ion-row id="mtSettings" *ngIf="!isRunning">
						<div class="mr-l">
							<div class="">
								<button (click)="settings(0)" ion-button col-12 full color="pink" class="prepare btn-148 mr-t-10" [ngClass]="btnIndex==0 ? 'pink-active' : 'btn-white'" round type="button">Prepare</button>
								<div class="c-pink prepare-time" id="mtPrepareTimeSetting">{{meditationTimerCtrl?.getStepsTime('prepareTime')}}</div>
							</div>
							<div class="">
								<button (click)="settings(1)"ion-button col-12 full color="pink" round type="button" class="prepare btn-148" [ngClass]="btnIndex==1 ? 'pink-active' : 'btn-white'">Meditation</button>
								<div class="c-pink prepare-time" id="mtMeditationTimeSetting">{{meditationTimerCtrl?.getStepsTime('meditationTime')}}</div> 
							</div>
							<div class="">
								<button (click)="settings(2)" ion-button col-12 full color="pink" round type="button" class="prepare btn-148" [ngClass]="btnIndex==2 ? 'pink-active' : 'btn-white'">Interval</button> 
								<div class="c-pink prepare-time" id="mtIntervalTimeSetting">{{meditationTimerCtrl?.getStepsTime('intervalTime')}}</div>
							</div>
						</div>

					</ion-row>
				</ion-col>
				<ion-col text-center col-lg-8 col-sm-8 col-12 class="D-block pd-0">
					<ion-col col-lg-12 col-12 col-sm-12 class="D-block pd-0">
						<div class="D-block">
							<div text-center class="D-block c-pink meditation-time" [ngClass]="!!isRunning?'playing':''">
								<div class="time-set">
									<!-- <ion-icon *ngIf="!isRunning" color="primary" name="ios-arrow-up" item-right (click)="timeArrowMinUpClick()" (mousedown)="timeArrowMinUpMouseDown()" (mouseup)="timeArrowMinUpMouseUp()" (mouseout)="timeArrowMinUpMouseOut()"></ion-icon> -->
									<img src='assets/images/up_icon.png' alt="up" *ngIf="!isRunning" (click)="timeArrowMinUpClick()" (mousedown)="timeArrowMinUpMouseDown()" (mouseup)="timeArrowMinUpMouseUp()" (mouseout)="timeArrowMinUpMouseOut()">
									<p id="overAllMinutes">0</p>
									<!-- <ion-icon *ngIf="!isRunning" color="primary" name="ios-arrow-down" item-right (click)="timeArrowMinDownClick()" (mousedown)="timeArrowMinDownMouseDown()" (mouseup)="timeArrowMinDownMouseUp()" (mouseout)="timeArrowMinDownMouseOut()"></ion-icon> -->
									<img src='assets/images/down_icon.png' alt="down" class="down-img" *ngIf="!isRunning" (click)="timeArrowMinDownClick()" (mousedown) ="timeArrowMinDownMouseDown()" (mouseup)="timeArrowMinDownMouseUp()" (mouseout)="timeArrowMinDownMouseOut()">
								</div>
								<div class="time-set">
									<p class="seperator">:</p>
								</div>
								<div class="time-set">
									<!-- <ion-icon *ngIf="!isRunning" color="primary" name="ios-arrow-up" item-right (click)="timeArrowSecUpClick()" (mousedown)="timeArrowSecUpMouseDown()" (mouseup)="timeArrowSecUpMouseUp()" (mouseout)="timeArrowSecUpMouseOut()"></ion-icon> -->
									<img src='assets/images/up_icon.png' alt="up" *ngIf="!isRunning" (click)="timeArrowSecUpClick()" (mousedown)="timeArrowSecUpMouseDown()" (mouseup)="timeArrowSecUpMouseUp()" (mouseout)="timeArrowSecUpMouseOut()">
									<p id="overAllSeconds">30</p>
									<!-- <ion-icon *ngIf="!isRunning" color="primary" name="ios-arrow-down" item-right (click)="timeArrowSecDownClick()" (mousedown)="timeArrowSecDownMouseDown()" (mouseup)="timeArrowSecDownMouseUp()" (mouseout)="timeArrowSecDownMouseOut()"></ion-icon> -->
									<img src='assets/images/down_icon.png' alt="down" class="down-img" *ngIf="!isRunning" (click)="timeArrowSecDownClick()" (mousedown)="timeArrowSecDownMouseDown()" (mouseup)="timeArrowSecDownMouseUp()" (mouseout)="timeArrowSecDownMouseOut()">
								</div>
							</div>
							<div id="mtIntervalTime" class="c-pink" *ngIf="!!isRunning"></div>

							<div class="mt-30" *ngIf="!isRunning" >
								<button class="m-0-auto meditate" ion-button col-12 full round type="button" (click)="start($event)">Meditate</button>
							</div>
							<div  *ngIf="!!isRunning" class="mr-top">
								<div col-12>
									<button ion-button col-md-5 col-5 round type="button" (click)=" stop($event.target)" class="stop-btn">Stop</button>
									<button ion-button col-md-5 col-5 round type="button" (click)="pause($event.target)" class="stop-btn">Pause</button>
								</div>
							</div>
							<div [hidden]="true" id="audioContainer">
								<audio controls id="audioChime_0">
									<source>
								  	Your browser does not support the audio element.
								</audio>
								<audio controls id="audioChime_1">
									<source>
								  	Your browser does not support the audio element.
								</audio>
								<audio controls id="audioChime_2">
									<source>
								  	Your browser does not support the audio element.
								</audio>
								<audio controls id="audioChime_3">
									<source>
								  	Your browser does not support the audio element.
								</audio>
							</div>
						</div>
					</ion-col>
				</ion-col>
			</ion-row>
				
			</ion-col>	
			<!-- <ion-row class="devide right-devide mt--50">
				<div class="scroll">
					<h3>Practice Audios</h3>
					<div class="scroll-devide" [ngClass]="practiceFileLength > 3 ? 'lg-scroll-devide' : ''">
						<div *ngFor="let practiceFile of practiceFileList" class="white-audio mb-20">
							<p>{{practiceFile.title}}</p>
							<div class="audio audios-practice">
								<vg-player (onPlayerReady)="onPlayerReady($event,index)">
									<vg-controls>
										<vg-play-pause class="ion-md-im-brandbubble f-8em"></vg-play-pause>
										<vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
										<vg-scrub-bar [vgSlider]="true">
											<vg-scrub-bar-current-time [vgSlider]="true"></vg-scrub-bar-current-time>
										</vg-scrub-bar>
										<vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
		
									</vg-controls>
									<audio seekTime="3" #media [vgMedia]="media" preload="auto">
										<source [src]="practiceFile.url">
									</audio>
								</vg-player>
							</div>
						</div>
					</div>
				</div>
			</ion-row> -->
		</div>
	</section>
</ion-content>
