// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@font-face {
    font-family: 'wakeful';
    src: url('../assets/fonts/wakeful.eot?pb06n5');
    src: url('../assets/fonts/wakeful.eot?pb06n5#iefix') format('embedded-opentype'), url('../assets/fonts/wakeful.ttf?pb06n5') format('truetype'), url('../assets/fonts/wakeful.woff?pb06n5') format('woff'), url('../assets/fonts/wakeful.svg?pb06n5#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class*="ion-md-im-"],
[class*="ion-ios-im-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'wakeful' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

button {
    text-transform: uppercase;
}

.text-light-gray {
    font-size: 1.4rem;
    text-align: center;
    color: #707070;
    font-weight: 100;
    line-height: 24px;
}

.p-t-65 {
    padding-top: 65px;
}

.wp-100 {
    width: 100% !important;
}

.c-white {
    color: #fff !important;
}

.f-16 {
    font-size: 1.6rem;
}

.f-14 {
    font-size: 1.4rem;
}
.f-18 {
    font-size: 1.8rem;
}

.f-26 {
    font-size: 2.6rem !important;
    line-height: 2.8rem !important;
}

.f-22 {
    font-size: 2rem !important;
    line-height: 2.8rem !important;
}

.f-32 {
    font-size: 3.2rem;
    line-height: 3.2rem !important;
}

.l-height-35 {
    line-height: 3.5rem !important;
}
h1.l-height-35 {
    line-height: 4rem !important;
}

.no-border {
    border: 0 none !important;
}

.bg-pink {
    background-color: #dd77ac;
}

.back-button-md,
.back-button-ios {
    margin: 0;
    min-width: auto;
}

.bar-button-md,
.bar-button-ios {
    margin: 0;
    padding: 0px;
}

.m-t-10 {
    margin-top: 10px;
}

.m-t-0 {
    margin-top: 0;
}

.text-input-md,
.text-input-ios {
    margin: 18px 0px;
    padding: 0;
    width: calc(100%);
    outline: none !important;
    color: #707070
}

.text-input {
    color: #707070
}

.icon-flipped {
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
}

ion-list.btn-list button {
    border-bottom: 3px solid #f5f5f5;
}

.question-no {
    font-size: 6rem;
    padding: 10px 0 0 0;
}

.question-no span {
    text-align: center;
    font-size: 3rem !important;
    font-weight: bold;
    margin-top: -6px;
}

.menu-list .item {
    border: 0 none !important;
}

.menu-list {
    height: 100%;
    background: #fff;
    margin-bottom: 0;
}

.menu-list ion-label {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
    font-size: 14px !important;
    font-weight: normal;
    text-align:left;
}

.menu-list ion-icon {
    vertical-align: middle;
    padding-right: 15px;
    font-size: 2.2rem;
}

// custom icons
[class*="ion-md-im-dashboard"]:before,
[class*="ion-ios-im-dashboard"]:before {
    content: "\e907";
}

[class*="ion-md-im-add-comment"]:before,
[class*="ion-ios-im-add-comment"]:before {
    content: "\e900";
}

[class*="ion-md-im-arrow"]:before,
[class*="ion-ios-im-arrow"]:before {
    content: "\e901";
}

[class*="ion-md-im-brandbubble"]:before,
[class*="ion-ios-im-brandbubble"]:before {
    content: "\e902";
}

[class*="ion-md-im-chevron"]:before,
[class*="ion-ios-im-chevron"]:before {
    content: "\e903";
}

[class*="ion-md-im-class"]:before,
[class*="ion-ios-im-class"]:before {
    content: "\e904";
}

[class*="ion-md-im-close"]:before,
[class*="ion-ios-im-close"]:before {
    content: "\e905";
}

[class*="ion-md-im-community"]:before,
[class*="ion-ios-im-community"]:before {
    content: "\e906";
}

[class*="ion-md-im-expand"]:before,
[class*="ion-ios-im-expand"]:before {
    content: "\e908";
}

[class*="ion-md-im-grateful"]:before,
[class*="ion-ios-im-grateful"]:before {
    content: "\e909";
}

[class*="ion-md-im-homework"]:before,
[class*="ion-ios-im-homework"]:before {
    content: "\e90a";
}

[class*="ion-md-im-inspired"]:before,
[class*="ion-ios-im-inspired"]:before {
    content: "\e90b";
}

[class*="ion-md-im-lock"]:before,
[class*="ion-ios-im-lock"]:before {
    content: "\e90c";
}

[class*="ion-md-im-menu"]:before,
[class*="ion-ios-im-menu"]:before {
    content: "\e90d";
}

[class*="ion-md-im-minus"]:before,
[class*="ion-ios-im-minus"]:before {
    content: "\e90e";
}

[class*="ion-md-im-reply"]:before,
[class*="ion-ios-im-reply"]:before {
    content: "\e90f";
}

[class*="ion-md-im-review"]:before,
[class*="ion-ios-im-review"]:before {
    content: "\e910";
}

[class*="ion-md-im-script"]:before,
[class*="ion-ios-im-script"]:before {
    content: "\e911";
}

[class*="ion-md-im-understood"]:before,
[class*="ion-ios-im-understood"]:before {
    content: "\e912";
}

[class*="ion-md-im-volume"]:before,
[class*="ion-ios-im-volume"]:before {
    content: "\e913";
}

[class*="ion-md-im-reading"]:before,
[class*="ion-ios-im-reading"]:before {
    content: "\e914";
}

[class*="ion-md-im-podcast"]:before,
[class*="ion-ios-im-podcast"]:before {
    content: "\e915";
}

[class*="ion-md-im-arrow-down"]:before,
[class*="ion-ios-im-arrow-down"]:before {
    content: "\e916";
}

[class*="ion-md-im-arrow-up"]:before,
[class*="ion-ios-im-arrow-up"]:before {
    content: "\e917";
}

[class*="ion-md-im-padmasana"]:before,
[class*="ion-ios-im-padmasana"]:before {
    content: "\e918";
}

.f-8em {
    font-size: 8em;
}

.f-7em {
    font-size: 7em;
}

.f-10em {
    font-size: 10em;
}
.f-11em {
    font-size: 11em;
}

ion-icon[class*="ion-md-im-brandbubble"],
ion-icon[class*="ion-ios-im-brandbubble"] {
    position: relative;
}

[class*="ion-md-im-brandbubble"] span,
[class*="ion-ios-im-brandbubble"] span {
    position: absolute;
    color: #fff;
    font-size: 3.5rem;
    left: 0;
    right: 0;
    top: 3rem;
    font-weight: bold;
}

.modal-wrapper {
    max-width: 100%;
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

@media (min-height: 600px) and (min-width: 768px) {
    .modal-wrapper {
        left: 0;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }
}

// h1.static-headings {
//     border-bottom: 1px solid #d4d4d4;
//     color: #5c5b5b;
//     font-size: 4.2rem;
//     font-weight: 900;
//     text-align: center;
// }
h1.static-headings {
    border-bottom: 0 none;
    color: #fff;
    font-size: 5rem;
    font-weight: 900;
    text-align: center;
}

.gray-text {
    color: #707070;
    line-height: 1.5em;
}

.primary-text {
    color: #4a3957;
}

.sub-heading {
    font-size: 2.6rem;
    color: #707070;
    line-height: 3.6rem;
}

.accordian-plus-minus {
    position: absolute;
    right: 0px;
    top: 17px;
    cursor: pointer;
    font-size: 2.6rem;
}

.c-pink {
    color: #dd77ac;
}

body,
.ion-page {
    width: 100%;
    background: #f5f5f5;
    font-size: 1.4rem;
}

.toolbar-ios {
    min-height: 56px;
}

.toolbar-title-md,
.toolbar-title-ios {
    padding: 0 12px;
    font-size: 1.5rem;
    font-weight: 500;
    color: #424242;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-top: 12px;
}

.toolbar-title-ios {
    margin-top: 0;
}

.bg-gray,
ion-header,
.toolbar-background-md,
.toolbar-background-ios {
    background: #f5f5f5;
}

.swiper-pagination-bullet-active {
    background: #dd77ac;
}

.swiper-pagination-bullet {
    width: 14px;
    height: 14px;
}

.m-0-auto {
    margin: 0 auto;
}

.icon-gray {
    color: #a6a6a6;
}

.content-md,
.content-ios {
    margin: 0 auto;
    background: #f5f5f5;
}

.w-1024 {
    width: 100%;
    margin: 0 auto;
    max-width: 1024px;
}

ion-navbar.toolbar {
    margin: 0 auto;
    /*max-width: 1024px;*/
}

.header-md::after,
.header-ios::after,
.tabs-md[tabsPlacement="top"]>.tabbar::after,
.tabs-ios[tabsPlacement="top"]>.tabbar::after,
.footer-md::before,
.footer-ios::before,
.tabs-md[tabsPlacement="bottom"]>.tabbar::before,
.tabs-ios[tabsPlacement="bottom"]>.tabbar::before {
    background-image: none;
}

.scroll-content {
    overflow-y: auto;
}

.label {
    padding-bottom: 0px; 
    padding-top: 0px;
    font-size: 1.2rem !important;
    font-weight: bold;
    color: #6f6f6f;
    letter-spacing: 1.5px;
    font-weight: 900;
}



.button {
    padding: 28px;
    font-weight: bold;
    box-shadow: none;
    margin-bottom: 10px;
}

ion-item.item-input {
    border-radius: 4px;
    border: 1px solid transparent
}

ion-item.input-has-focus {
    border-radius: 4px;
    border: 1px solid #604a70 !important;
}

.input {
    border-radius: 4px;
    padding-left: 0;
}

.item-inner,
.input-has-focus,
.item-input-has-focus {
    border: 0 !important;
    box-shadow: none !important;
}

.t-uper {
    text-transform: uppercase;
}

.button-md,
.button-ios {
    font-size: 1.6rem;
    text-transform: uppercase;
}

.bg-odd-even:nth-child(even) {
    background-color: #FFF;
}

.bg-odd-even:nth-child(odd) {
    background-color: #ededed;
}

[menuToggle] {
    font-size: 1.4em;
    padding-right: 8px;
}

.alert-message {
    overflow: auto;
}

.v-align-center {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
}

@import "../assets/css/videogular.css";
.audios,
.videos {
    // vg-player {
    //     border: 1px solid #D6D6D6
    // }
    .read-script {
        line-height: 54px;
        height: 50px;
        cursor: pointer;
        position: absolute;
        bottom: 0;
        background: #FFF;
        width: 100%;
        letter-spacing: 1px;
        font-weight: 900;
    }
    vg-scrub-bar-current-time{
        top:calc(50% - 6px);
    }
    .read-script ion-icon {
        font-size: 1.75rem;
        margin-top: 17px;
        float: left;
    }
    .read-script span {
        padding: 0 6px;
        font-size: 1.1rem;
        float: left;
        color: #604a70;
    }
    /*vg-scrub-bar-current-time {
        background: #dedede;
        top: auto !important;
        bottom: 70px !important;
        height: 12px;
        border-radius: 5px;
    }
    vg-scrub-bar-current-time .background {
        border: 5px solid #eda2cd !important; //color($colors, primary);
        background: #eda2cd;
        position: relative;
        border-radius: 5px;
    }
    vg-scrub-bar-current-time .background:after {
        content: "";
        position: absolute;
        border-radius: 100%;
        border: 12px solid #FFF;
        top: -12px;
        right: -12px;
        z-index: 2;
    }*/
    vg-scrub-bar {
        background: #dedede;
        top: auto !important;
        bottom: 70px !important;
        height: 12px;
        border-radius: 5px;
    }
    vg-scrub-bar .background {
        border: 6px solid #eda2cd !important; //color($colors, primary);
        background: #eda2cd;
        position: relative;
        border-radius: 5px;
    }
    vg-scrub-bar .background:after {
        content: "";
        position: absolute;
        border-radius: 100%;
        border: 12px solid #FFF;
        top: -12px;
        right: -12px;
        z-index: 2;
    }

    vg-time-display,
    vg-mute {
        color: #604a70;
    }
    vg-time-display,
    vg-fullscreen {
        color: #604a70;
    }
    /*vg-scrub-bar-current-time {
        position: absolute;
        width: calc(100% - 130px);
        left: 65px;
    }*/
    vg-scrub-bar {
        position: absolute;
        width: calc(100% - 130px);
        left: 65px;
    }
    vg-time-display {
        position: absolute !important;
        bottom: 50px !important;
    }
    [ng-reflect-vg-property="total"] {
        right: 0
    }
    vg-mute {
        position: absolute;
        right: 0
    }
}

.audios {
    vg-player {
        height: 500px;
		background: #f5f5f5; //transparent;
    }
    vg-controls {
		height: 100%;
		background: #f5f5f5 url(../assets/images/bg_logo.png) no-repeat top;
		background-size: 160px;
        // background-color: rgba(245,245,245,0.8); //transparent;
    }
    vg-play-pause {
        position: absolute;
        top: 140px;
        left: 0;
        right: 0;
        margin: 0 auto;
        color: #f7e4ee;// rgba(255, 255, 255, 0.8); //color($colors, dashbg-pink);
    }
    .icon.vg-icon-play_arrow,
    .icon.vg-icon-pause {
        position: absolute;
        color: #eda2cd;
        top: 35px;
        left: 0;
        right: 0;
        font-size: 8rem;
    }
}

.videos {
    vg-player {
        max-height: 500px;
        background: transparent;
    }
    .vg-icon-play_arrow {
        position: absolute;
        color: #FFF;
    }
    vg-controls {
        background: rgba(255, 255, 255, 0.90);
        opacity: 0.85
    }
    .read-script {
        background: transparent;
    }
    /*vg-overlay-play .vg-icon-play_arrow {
        color: #df6dc2;
        margin: 0 auto;
        left: 0;
        right: 0;
        width: 80px !important;
        top: calc(50% - 65px);
        display: block !important;
    }*/
    .vg-overlay-play .vg-icon-play_arrow {
        color: #df6dc2;
        margin: 0 auto;
        left: -80%;
        right: 0;
        width: 80px !important;
        top: 0;
        display: block !important;
    }
    // adding new for video play bg icon
    .vg-overlay-play {
        font-family: 'wakeful' !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        top: calc(50% - 80px);
        left: 40%;
    }
    // .vg-overlay-play:before {
    // 	content: "\e902";
    // }
    vg-play-pause {
        position: absolute;
        top: 140px;
        left: 0;
        right: 0;
        margin: 0 auto;
        color: rgba(255, 255, 255, 0.8); //color($colors, dashbg-pink);
        z-index: 9;
    }
    .icon.vg-icon-play_arrow,
    .icon.vg-icon-pause {
        position: absolute;
        color: #eda2cd;
        top: 35px;
        left: 0;
        right: 0;
        font-size: 8rem;
    }
    //vg-overlay-play .vg-overlay-play .overlay-play-container.vg-icon-play_arrow{}
}

// ion list
ion-list.list {
    margin-right: 0;
}

ion-list ion-item.item {
    padding: 0 !important;
    border-bottom: 3px solid #f5f5f5;
}

ion-list .item-inner {
    padding-right: 0 !important;
}

ion-list ion-label.label {
    padding-left: 0;
    margin-right: 0;
}

ion-list .item-md h2 {
    font-size: 2.2rem;
    font-weight: 900;
    padding-left: 40px;
}

ion-list .item-md p {
    padding-left: 40px;
}

ion-list ion-icon {
    padding-right: 30px;
}

ion-list .accordian-oppen-bg ion-label {
    padding-left: 0;
}

ion-list .accordian-oppen-bg ion-list {
    margin: 0 !important;
    background-color: #f0f0f0;
}

ion-list .accordian-oppen-bg ion-item {
    background-color: transparent;
}

ion-list .accordian-oppen-bg {
    padding-top: 24px;
}

ion-list ion-avatar img {
    width: 70px !important;
    height: 70px !important;
    margin-left: 40px;
    border: 1px solid #ddd;
}

ion-app.md [padding-right],
ion-app.md [padding-right] .scroll-content {
    padding-right: 30px;
}

.p-l-0 {
    padding-left: 0 !important;
}

// ion list
.toast-md .toast-wrapper,
.toast-ios .toast-wrapper {
    max-width: 100%;
}

.read-script span {
    text-transform: uppercase;
}

button,
a {
    cursor: pointer
}

ion-content.content {
    background-position: 100%;
    background-size: cover;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.next {
    color: #919191;
    font-size: 18px;
}
.view {
    color: #604a70;
    font-size: 16px;
    text-decoration: none;
    margin-top: 40px;
    display: block;
}

.view:after {
    content: '\279C';
}
.notification {
    background: #ff0000;
    font-size: 10px;
    color: #fff;
    padding: 3px;
    border-radius: 3px;
    text-align: center;
}/*
.table-responsive {
    overflow-x: scroll;
    width: 100%
}*/
table {
    width: 100%;
    border: none;
}
.table-schedule table thead th, .table-schedule table tbody tr td {
    color: #707070;
    font-size: 12px;
    text-align: left;
    padding: 10px 10px; 
    background: #fff;
    border: 5px solid rgb(218, 236, 236);

}
.text-center {
    text-align: center !important;
}
.table-schedule table tbody tr td {
    font-size: 14px;
}
.bold {
    font-weight: bold;
}
.content  {
    background: url(../assets/images/bg-class-schedule-dt.jpg) no-repeat center center; 
}

 



/*start @media*/

@media (max-width: 425px) {
    vg-player {
        max-height: 320px;
    }
    .audios {
        vg-play-pause {
            top: 40px;
        }
    }
    [class*="ion-md-im-brandbubble"].f-8em,
    [class*="ion-ios-im-brandbubble"].f-8em {
        font-size: 5.6em;
    }
    [class*="ion-md-im-brandbubble"] span,
    [class*="ion-ios-im-brandbubble"] span {
        top: 3rem;
        font-size: 2.5rem;
    }
    ion-list ion-label.label {
        padding-bottom: 5px !important;
        padding-top: 5px !important;
    }
    ion-list .item-md h2,
    ion-list .item-ios h2 {
        padding-left: 15px !important;
    }
    ion-list .item-md p,
    ion-list .item-ios p {
        padding-left: 15px !important;
    }
    ion-list ion-icon {
        padding-right: 10px;
    }
    ion-app.md [padding-right],
    ion-app.md [padding-right] .scroll-content {
        padding-right: 10px;
        margin-top: 14px;
    }
    ion-list ion-avatar img {
        width: 50px !important;
        height: 50px !important;
        margin-left: 15px;
    }
    ion-list ion-avatar {
        margin-right: 0 !important;
    }
    .button-md,
    .button-ios {
        font-size: 1.4rem;
    }
}

@media (max-width: 768px) {
    ion-content {
        padding-left: 15px;
        padding-right: 15px;
    }
    .static-row-white {
        background: #fff;
        margin-top: 1px;
    }
    .sub-heading {
        font-size: 2rem;
        line-height: 3rem;
    }
    ion-list.btn-list button .item-inner {
        height: 50px;
    }
    ion-list.btn-list {
        padding: 0;
        margin: 0 !important;
    }
    ion-list.btn-list button {
        border-bottom: 2px solid #f5f5f5;
    }
    .mob-p-l-r {
        padding-right: 15px;
        padding-left: 15px;
    }
    ion-list ion-label.label {
        padding-bottom: 0;
        padding-top: 0;
    }
    ion-list .item-md h2,
    ion-list .item-ios h2 {
        font-size: 1.5rem;
        font-weight: bold;
        padding-left: 30px;
    }
    ion-list .item-md p,
    ion-list .item-ios p {
        padding-left: 30px;
    }
    .accordian-plus-minus {
        top: 0;
        font-size: 2.4rem;
    }
    ion-list .accordian-oppen-bg ion-list {
        margin-right: 0;
    }
    ion-list .accordian-oppen-bg ion-label {
        padding-left: 0;
    }
    ion-list .accordian-oppen-bg .item-inner {
        padding-right: 0;
    }
    ion-list .item-md h2,
    ion-list .item-ios h2 {
        font-size: 1.5rem;
        font-weight: bold;
        padding-left: 30px;
    }
    ion-list .item-md p,
    ion-list .item-ios p {
        padding-left: 30px;
    }
    ion-list .accordian-oppen-bg {
        padding-top: 16px;
    }
}

@media (min-width: 769px) {
    h1.static-headings {
        padding: 2.5rem 0;
    }
    ion-navbar.toolbar {
        padding: 4px 0;
    }
}

@media (max-width: 767px) {
    .t-c-mob {
        text-align: center !important;
    }
    .f-7em {
        font-size: 6em;
    }
    .p-l-r-0-mob {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    h1.static-headings {
        font-size: 3rem;
    }
    .toolbar-title-md,
    .toolbar-title-ios {
        padding: 0 10px;
        font-size: 1.4rem;
        letter-spacing: 2px;
    }
}

@media (max-width:1024px) {
    ion-content.content {
        background-position: 100% 100%;
    }
}


/*end @media*/